name: Semantic Release

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - main

permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write

jobs:
  release:
    # Ne s'exécute que si la CI a réussi
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        run: uv sync

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@v9.15.1
        with:
          github_token: ${{ secrets.release_token }}

      - name: Publish to GHCR (if new release)
        if: steps.release.outputs.released == 'true'
        run: |
          echo ${{ secrets.release_token }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker tag items-api:local ghcr.io/${{ github.repository }}:${{ steps.release.outputs.tag }}
          docker push ghcr.io/${{ github.repository }}:${{ steps.release.outputs.tag }}
