name: Semantic Release

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - main
      - develop

permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  actions: write

jobs:
  release:
    # Ne s'exécute que si la CI a réussi
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # v6 n'existe pas encore, v4 est la stable
        with:
          fetch-depth: 0
          ref: ${{ github.event.workflow_run.head_branch }} # CRUCIAL pour workflow_run

      - name: Set up uv
        uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        run: uv sync

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@v9.15.1
        with:
          github_token: ${{ secrets.release_token }}

      - name: Publish to GHCR (if new release)
        if: steps.release.outputs.released == 'true'
        env:
          CR_PAT: ${{ secrets.release_token }}
        run: |
          # Conversion du nom du repo en minuscules (haceneZERROUK -> hacenezerrouk)
          IMAGE_ID=ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          VERSION=${{ steps.release.outputs.tag }}

          echo "$CR_PAT" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          # On rebuilde l'image car on est sur un nouveau runner
          docker build -t items-api:local .

          docker tag items-api:local $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
